<footer id="footer">
  <!--#footer-top-->
  <div id="footer-top" class="container_12">
    <div class="row">
      <div class="footer-area">
        <div class="region region-footer-featured">
          <div id="block-block-1" class="block block-block">
            <div class="content">
              <div class="col-xs-3">
                <a href="http://www.nypl.org/" target="_blank" title="New York Public Library"><img src="/images/NYPL_logo.png" alt="New York Public Library" class="footer-logo"></a>
              </div>
              <div class="col-xs-3">
                <a href="http://www.bodleian.ox.ac.uk/" target="_blank" title="The Bodleian Libraries of the University of Oxford"><img src="/images/Bodleian_logo.png" alt="The Bodleian Libraries of the University of Oxford" class="footer-logo"></a>
              </div>
              <div class="col-xs-4">
                <a href="http://mith.umd.edu/" target="_blank" title="Maryland Institute for Technology in the Humanities"><img src="/images/MITH_logo.png" alt="Maryland Institute for Technology in the Humanities" class="footer-logo"></a><a href="http://hcl.harvard.edu/libraries/houghton/" target="_blank" title="Houghton Library of Harvard University"><img src="/images/HarvardUL_logo.png" alt="Houghton Library of Harvard University" class="footer-logo"></a>
                <a href="http://www.huntington.org/" target="_blank" title="Huntington Library"><img src="/images/Huntington_logo.png" alt="Huntington Library" class="footer-logo" style="width:100%"></a>
              </div>
              <div class="col-xs-2">
                <a href="http://www.bl.uk/" target="_blank" title="British Library"><img src="/images/BL_logo.png" alt="British Library" class="footer-logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <div class="footer-area"> </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="footer-area"> </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="footer-area"> </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="footer-area"> </div>
      </div>
    </div>
  </div>
  <!--EOF:#footer-top-->   
  <!--#footer-bottom-->
  <div id="footer-bottom" class="container_12">
    <div class="grid_12">
      <!--#footer-bottom-inside-->
      <div id="footer-bottom-inside">
        <div class="region region-footer">
          <div id="block-block-5" class="block block-block">
            <div class="content">
              <div class="row funders">
                <div class="col-xs-12">
                  Funded by <a href="http://www.neh.gov/" target="_blank" title="The National Endowment for the Humanities">The National Endowment for the Humanities</a> and <a href="http://www.delmas.org/" title="The Gladys Krieble Delmas Foundation" target="_blank">The Gladys Krieble Delmas Foundation</a>.
                  Design by <a href="http://mith.umd.edu/" target="_blank">MITH</a>.
                </div>
              </div>
              <div class="row disclaimer">
                <div class="col-xs-12">Any views, findings, conclusions, or recommendations expressed in this website do not necessarily reflect those of the National Endowment for the Humanities.</div>
              </div>
              <div class="row disclaimer beta-disclaimer">
                <div class="col-xs-12">The Shelley-Godwin Archive is now released in beta form. There are a number of issues that we are currently addressing. For the best possible user experience, we recommend using either recent versions of Google's Chrome browser or the latest version of Safari or Mozilla Firefox. If you have concerns or feedback you'd like to submit, please email us at <a href="mailto:info@shelleygodwinarchive.org">info@shelleygodwinarchive.org</a>.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--EOF:#footer-bottom-inside-->
    </div>
  </div>
</footer>
