<header id="header" class="clearfix">
  <!--#header-inside-->
  <div id="header-inside" class="container_12">
      
    <div class="grid_12">
      
      <!-- #header-inside-left -->
      <div id="header-inside-left">
          <div id="logo" class="clearfix">
            <a href="/" title="Home" rel="home"> <img src="/images/logo.png" alt="Home"> </a>
          </div>
              
      </div>
      <!--EOF:#header-inside-left-->
    </div>
  </div>
  <!--EOF:#header-inside-->

  <nav id="main-menu" class="clearfix">
    <div class="container_12">
      <div class="grid_12">
        <!--#main-menu-inside-->
        <div id="main-menu-inside">
          <!--#menu-->
          <div id="menu" class="clearfix">
            <h3 class="menu-toggle">Menu</h3>
            <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
            <ul class="menu">
            {% for link in site.navigation %}{% assign current = nil %}{% if page.url contains link.url %}{% assign current = 'current' %}{% endif %}
              <li class="{% if forloop.first %}first{% endif %} leaf {% if forloop.last %}last{% endif %}">
                <a href="{{ link.url | prepend: site.baseurl }}" 
                   title="{{ link.title }}"
                   class="{% if current %}active{% endif %}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
            </ul>
          </div>
          <!--EOF:#menu-->
        </div>
        <!--EOF:#main-menu-inside-->
      </div>
    </div>
  </nav>

</header>

<div id="shadow-bottom"></div>
