<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <link rel="alternate" type="application/rss+xml" title="The Shelley-Godwin Archive RSS" href="feed.xml" />
  
  <!--
  <link rel="stylesheet" media="all and (min-width: 980px)" href="/css/960.css"/>
  <link rel="stylehseet" media="all and (min-width: 760px) and (max-width: 980px)" href="/css/720.css"/>
  <link rel="stylesheet" media="all and (max-width: 759px)" href="/css/mobile.css"/>
  <link rel="stylesheet" href="/css/default.css" media="all" />
  <script src="https://use.fonticons.com/f8a4eb7b.js"></script>
  -->
  
  <link rel="stylesheet" href="/css/bootstrap.min.css" media="all" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css" media="all" />
  <link rel="stylesheet" href="/css/style.css" media="all" />

  {% for css_name in page.extra_css %}
    <link rel="stylesheet" href="{{ css_name }}" media="all">
  {% endfor %}

  <script type="text/javascript" src="/js/dependencies.js"></script>

  {% for js_name in page.extra_dependencies %}
    <script type="text/javascript" src="{{ js_name }}"></script>
  {% endfor %}
</head>
