@font-face { 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/websymbols/websymbols-regular-webfont.woff') format('woff'),
	url('../fonts/websymbols/websymbols-regular-webfont.ttf') format('truetype'),
	url('../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    }
.websymbols {
    font-family: 'WebSymbolsRegular';
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    }
.opensans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    }

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2012 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */

@font-face {
    font-family: 'Borgia Pro';
    src: url('../fonts/BorgiaPro-Regular-webfont.eot');
    src: url('../fonts/BorgiaPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BorgiaPro-Regular-webfont.woff') format('woff'),
	url('../fonts/BorgiaPro-Regular-webfont.ttf') format('truetype'),
	url('../fonts/BorgiaPro-Regular-webfont.svg#borgia_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Borgia Pro Italic';
    src: url('../fonts/BorgiaPro-Italic-webfont.eot');
    src: url('../fonts/BorgiaPro-Italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BorgiaPro-Italic-webfont.woff') format('woff'),
	url('../fonts/BorgiaPro-Italic-webfont.ttf') format('truetype'),
	url('../fonts/BorgiaPro-Italic-webfont.svg#borgia_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Borgia Pro Bold';
    src: url('../fonts/BorgiaPro-Bold-webfont.eot');
    src: url('../fonts/BorgiaPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BorgiaPro-Bold-webfont.woff') format('woff'),
	url('../fonts/BorgiaPro-Bold-webfont.ttf') format('truetype'),
	url('../fonts/BorgiaPro-Bold-webfont.svg#borgia_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Borgia Pro Bold Italic';
    src: url('../fonts/BorgiaPro-BoldItalic-webfont.eot');
    src: url('../fonts/BorgiaPro-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/BorgiaPro-BoldItalic-webfont.woff') format('woff'),
	url('../fonts/BorgiaPro-BoldItalic-webfont.ttf') format('truetype'),
	url('../fonts/BorgiaPro-BoldItalic-webfont.svg#borgia_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

