#slider #slide-nav{
	margin-top: -6px; padding-bottom: 6px;
	}

#main-content .comment .comment-arrow{
	background: url('../images/comment-wrap-arrow.png') 78px 15px no-repeat;
	}


#block-search-form {
	-webkit-border-radius: 5px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
	border-radius: 5px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
	overflow: hidden;
	}

#page-wrapper .form-item .form-text{
	padding-top: 8px;
}