/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, button, input, select, textarea {
    color: #222;
}

html, body { height: 100%; }

body {
    font-size: 100%;
	line-height: 1;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* 
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

/* Colors 
Dk Brown: #422F20
Dk Tan: #A59971
Md Tan: #BAB394
Lt Tan: #EFE6BD
Red: #A54647
Background: #E0E0E0
*/

@import url('css/fonts.css');

/* Body, links, basics */

html { font-size: 87.5%; background: #e0e0e0 url(../images/bg-page.png); padding:0px; margin:0px; overflow:auto; font-family: "BergamoStdRegular", Georgia, "Times New Roman", Times, serif; }
body { font-size: 14px; font-size: 1rem; color: #422F20; text-rendering: optimizeLegibility; border-bottom-width: 18px; border-top-width: 18px; border-top-width: 1.285714285714286rem; border-bottom-width: 1.285714285714286rem; border-top-color: #A54647; border-bottom-color: #A59971; border-right-width: 0px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; height: auto !important; height: 100%; }
/* .site-content { max-width: 960px; max-width: 68.571428571428571rem; margin: 0 auto;  }
*/

em { font-family: "BergamoStdItalic", serif; font-style:italic; }
strong { font-family: "BergamoStdBold", serif; font-weight:bold; }

a { outline: none; color: #A54647; border-bottom: 1px dotted #422f20; text-decoration: none; }
a:hover { color: #A54647; border-bottom-color: #A54647; text-decoration: none; }

header a, header a:hover { border-bottom: 0px; }

/* Navigation Menu */
.main-navigation { margin-top: 24px; margin-top: 1.714285714rem; float: left; position:relative; width: 100%; border-bottom: 1px solid #ededed; border-top: 1px solid #ededed;}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul { text-align: left; }
.main-navigation ul { margin: 0; text-indent: 0; float:right; position:relative; right:50%; text-align: center; padding: 0; }

.main-navigation li { font-size: 12px; font-size: 0.857142857rem; line-height: 1.42857143; text-decoration: none; margin: 0 40px 0 0; margin: 0 2.857142857rem 0 0; }
.main-navigation ul li { position: relative; float: left; left: 50%; display: block; }

.main-navigation li a { display: block; text-decoration: none; border-bottom: 0; color: #6a6a6a; line-height: 3.692307692; text-transform: uppercase; }
.main-navigation li a:hover { color: #A54647; }

.main-navigation li ul { display: none; margin: 0; padding: 0; position: absolute; top: 100%; z-index: 1; }
.main-navigation ul ul { left: 0; right: auto; }
.main-navigation ul ul li { left: auto; margin: 0; clear: left; width: 100%; } 
.main-navigation li ul ul { top: 0; left: 100%; }
.main-navigation ul li:hover > ul { border-left: 0; display: block; }

.main-navigation li ul li a { background: #efefef; border-bottom: 1px solid #ededed; display: block; font-size: 11px; font-size: 0.785714286rem; line-height: 2.181818182; padding: 8px 10px; padding: 0.571428571rem 0.714285714rem; width: 180px; width: 12.85714286rem; }
.main-navigation li ul li a:hover { background: #e3e3e3; color: #A54647; }
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a { color: #A54647; }
.main-navigation ul.nav-menu.toggled-on,
.menu-toggle { display: inline-block; }

/* Headers + Content */
#logo { text-align: center; padding-top: 24px; padding-top: 1.714285714rem }

.main-header { padding: 24px 0; padding: 1.714285714rem 0; }
.page-content { min-height: 400px; }

.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 { margin: 24px 0; margin: 1.714285714rem 0; line-height: 1.714285714; }
.page-content h1 { font-size: 21px; font-size: 1.5rem; line-height: 1.5; }
.page-content h2 { font-size: 18px; font-size: 1.285714286rem; line-height: 1.6; }
.page-content h3 { font-size: 16px; font-size: 1.142857143rem; line-height: 1.846153846; }
.page-content h4 { font-size: 14px; font-size: 1rem; line-height: 1.846153846; }
.page-content h5 { font-size: 13px; font-size: 0.928571429rem; line-height: 1.846153846; }
.page-content h6 { font-size: 12px; font-size: 0.857142857rem; line-height: 1.846153846; }

.page-content p { margin: 0 0 24px; margin: 0 0 1.714285714rem; line-height: 1.714285714; }

.page-content ol,
.page-content ul { margin: 0 0 24px; margin: 0 0 1.714285714rem; line-height: 1.714285714; }
.page-content ul ul,
.page-content ol ol,
.page-content ul ol,
.page-content ol ul { margin-bottom: 0; }
.page-content ul { list-style: disc outside; }
.page-content ol { list-style: decimal outside; }
.page-content li { margin: 0 0 0 36px; margin: 0 0 0 2.571428571rem; }

.page-content blockquote { margin-bottom: 24px; margin-bottom: 1.714285714rem; padding: 24px; padding: 1.714285714rem; font-style: italic; }
.page-content blockquote p:last-child { margin-bottom: 0; }
.page-content code{ font-family: Consolas, Monaco, Lucida Console, monospace; font-size: 12px; font-size: 0.857142857rem; line-height: 2; }
.page-content pre { border: 1px solid #ededed; color: #666; font-family: Consolas, Monaco, Lucida Console, monospace; font-size: 12px; font-size: 0.857142857rem; line-height: 1.714285714; margin: 24px 0; margin: 1.714285714rem 0; overflow: auto; padding: 24px; padding: 1.714285714rem; }
.page-content pre code { display: block; }
.page-content abbr,
.page-content dfn,
.page-content acronym { border-bottom: 1px dotted #666; cursor: help; }
.page-content address { display: block; line-height: 1.714285714; margin: 0 0 24px; margin: 0 0 1.714285714rem; }

img.alignleft { margin: 12px 24px 12px 0; margin: 0.857142857rem 1.714285714rem 0.857142857rem 0; }
img.alignright { margin: 12px 0 12px 24px; margin: 0.857142857rem 0 0.857142857rem 1.714285714rem; }
img.aligncenter { margin-top: 12px; margin-top: 0.857142857rem; margin-bottom: 12px; margin-bottom: 0.857142857rem; }

.page-content embed,
.page-content iframe,
.page-content object,
.page-content video { margin-bottom: 24px; margin-bottom: 1.714285714rem; }

.page-content dl { margin: 0 24px; margin: 0 1.714285714rem; }
.page-content dt { font-weight: bold; line-height: 1.714285714; }
.page-content dd { line-height: 1.714285714; margin-bottom: 24px; margin-bottom: 1.714285714rem; }
.page-content table { border-bottom: 1px solid #ededed; color: #777; font-size: 12px; font-size: 0.857142857rem; line-height: 2; margin: 0 0 24px; margin: 0 0 1.714285714rem; width: 100%; }
.page-content table caption { font-size: 16px; font-size: 1.142857143rem; margin: 24px 0; margin: 1.714285714rem 0; }
.page-content td { border-top: 1px solid #ededed; padding: 6px 10px 6px 0; }


/* Buttons + Forms */
/* Buttons */
.menu-toggle,
input[type="submit"] {	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.menu-toggle,
input[type="submit"] {
	cursor: pointer;
}
.menu-toggle:hover,
input[type="submit"]:hover  {
	color: #5e5e5e;
	background-color: #ebebeb;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.menu-toggle:active,
.menu-toggle.toggled-on,
input[type="submit"]:active,
input[type="submit"].toggled-on {
	color: #777;
	background-color: #e1e1e1;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
	border: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
	padding: 6px;
	padding: 0.428571429rem;
	font-family: inherit;
	border: 1px solid #ccc;
	border-radius: 3px;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
*/

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
