.text-content {
  text-align: left;
  padding: 3px;
}

.text-content .deletion {
  font-weight: lighter;
  color: #888;
  text-decoration: line-through;
}

.text-content .addition {
  font-weight: bolder;
}
