svg body {
  border: none;
  background: none;
  background-color: transparent;
}

.text-content {
  text-align: left;
  padding: 2px;
}

.text-content .DeletionAnnotation {
  font-weight: lighter;
  color: #888;
  text-decoration: line-through;
}

.text-content .AdditionAnnotation {
  font-weight: bolder;
}

.text-content .SearchAnnotation {
  background-color: Yellow;
}

.text-content .LineAnnotation {
  margin-left: 2px;
  margin-right: 2px;
}

.text-content .above-line {
  padding-top: 4px;
  padding-bottom: -2px;
  font-size: smaller;
}

.text-content .below-line {
  padding-bottom: 4px;
  padding-top: -2px;
  font-size: smaller;
}

#readingTxt {
  display:none;
  background-color: #FFF;
  padding: 1.5em;
}