@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700');

@font-face { 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    }
.websymbols {
    font-family: 'WebSymbolsRegular';
    font-size: 24px;
    font-style: normal;
    text-decoration: none;
    }
.opensans-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    }

/** Icon Font **/

@font-face {
  font-family: "mith-icons";
  src:url("../fonts/mith-icons.eot");
  src:url("../fonts/mith-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/mith-icons.woff") format("woff"),
    url("../fonts/mith-icons.ttf") format("truetype"),
    url("../fonts/mith-icons.svg#mith-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mith-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "mith-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-file-o:before {
  content: "\e001";
}
.fa-book:before {
  content: "\e002";
}
.fa-circle:before {
  content: "\e003";
}
.fa-desktop:before {
  content: "\e004";
}
.fa-spinner:before {
  content: "\e005";
}
.fa-step-backward:before {
  content: "\e006";
}
.fa-step-forward:before {
  content: "\e007";
}
.fa-code:before {
  content: "\e00a";
}
.fa-picture-o:before {
  content: "\e00b";
}
.fa-pause:before {
  content: "\e00c";
}
.fa-repeat:before, .fa-rotate-right:before {
  content: "\e00d";
}
.fa-undo:before, .fa-rotate-left:before {
  content: "\e00e";
}
.fa-search:before {
  content: "\e00f";
}
.fa-search-minus:before {
  content: "\e010";
}
.fa-search-plus:before {
  content: "\e011";
}
.fa-align-left:before {
  content: "\e012";
}
.fa-chevron-left:before {
  content: "\e008";
}
.fa-chevron-right:before {
  content: "\e009";
}
.fa-manuscript:before {
  content: "\e000";
}
.fa-chevron-down:before {
  content: "\e013";
}
.fa-chevron-up:before {
  content: "\e014";
}
.fa-angle-right:before {
  content: "\e015";
}
.fa-angle-left:before {
  content: "\e016";
}
.fa-sort-asc:before {
  content: "\e017";
}
.fa-sort-desc:before {
  content: "\e018";
}
.fa-paragraph:before {
  content: "\e019";
}
.fa-times:before, .fa-remove:before {
  content: "\e01a";
}
.fa-caret-left:before {
  content: "\e01b";
}
.fa-caret-right:before {
  content: "\e01c";
}



/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2015 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/licenses/fontsite/webfont
 *
 *
 */
 @font-face {
    font-family: 'BorgiaPro-Regular';
    src: url('../fonts/BorgiaPro-Regular-webfont.eot');
    src: url('../fonts/BorgiaPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BorgiaPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/BorgiaPro-Regular-webfont.woff') format('woff'),
         url('../fonts/BorgiaPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/BorgiaPro-Regular-webfont.svg#borgia_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BorgiaPro-Italic';
    src: url('../fonts/BorgiaPro-Italic-webfont.eot');
    src: url('../fonts/BorgiaPro-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BorgiaPro-Italic-webfont.woff2') format('woff2'),
         url('../fonts/BorgiaPro-Italic-webfont.woff') format('woff'),
         url('../fonts/BorgiaPro-Italic-webfont.ttf') format('truetype'),
         url('../fonts/BorgiaPro-Italic-webfont.svg#borgia_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BorgiaPro-Bold';
    src: url('../fonts/BorgiaPro-Bold-webfont.eot');
    src: url('../fonts/BorgiaPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BorgiaPro-Bold-webfont.woff2') format('woff2'),
         url('../fonts/BorgiaPro-Bold-webfont.woff') format('woff'),
         url('../fonts/BorgiaPro-Bold-webfont.ttf') format('truetype'),
         url('../fonts/BorgiaPro-Bold-webfont.svg#borgia_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BorgiaPro-BoldItalic';
    src: url('../fonts/BorgiaPro-BoldItalic-webfont.eot');
    src: url('../fonts/BorgiaPro-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BorgiaPro-BoldItalic-webfont.woff2') format('woff2'),
         url('../fonts/BorgiaPro-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/BorgiaPro-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/BorgiaPro-BoldItalic-webfont.svg#borgia_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}