@charset "UTF-8";
/* CSS Document */

/*  Table of contents */

/*  1. general
/*  2. text
/*  3. links
/*  4. headings
/*  5. lists
/*  6. tables
/*  7. Header
/*  8. Navigation
/*  9. Slideshow
/*  10. Content Area
/*  11. Footer
/*  12. Viewer
/*  13. Search
/* 	14. Explore
/* 	15. Works/Manuscripts
/*	16. About/Intro
/*	17. Responsive
*/

/* 1. General
_______________________________________________________________________*/
body { font-family: 'Open Sans', Arial, 'Liberation Sans', FreeSans, sans-serif; line-height: 1.5; background: url("../images/bg-page.png") repeat 0 0; color: #212121; }
@media only screen and (min-width:999px) { 
body { font-size: 15px; } 
}
@media only screen and (max-width:768px) {
body { font-size: 15px; }
}
#page-wrapper { background: url("../images/bg-gradient.png") repeat-x -40px 187px; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); border: 0; }

@media (min-width:768px) {
.container { width: 750px }
.col-sm-4 h4 { margin-top: 0; }
}

@media (min-width:992px) {
.container { width: 970px }
}

@media (min-width:1200px) {
.container { width: 970px }
}
/* 2. Text
_______________________________________________________________________*/
#page-wrapper p { margin: 0 0 12px; }
#page-wrapper p small { font-size: 11px; color: #999999; }
#page-wrapper pre, code { font-family: 'DejaVu Sans Mono', Menlo, Consolas, monospace; }
#page-wrapper blockquote { border-left: 3px solid #B17373; }
#page-wrapper blockquote p { padding: 3px 36px 0px 24px; color: #505050; font-size: 14px; }
#page-wrapper fieldset {  }
#page-wrapper fieldset.collapsed {  }
#page-wrapper fieldset legend { padding: 0 6px; color: #707070; }
.main-content strong { font-weight: 600; }
.main-content h4 { display: inline; float: left; margin: 0 5px 0 0; }
.main-content small { display: block; margin-bottom: 12px; font-size: 90%; }
.footnotes a {  }
.btn-fa-list button { margin: 5px 0; }
/* 3. Links
_______________________________________________________________________*/
a { color: #a54647; text-decoration: none; }
a:hover { color: #642326; text-decoration: none; }
a:focus { outline: none !important; }
/* 4. Headings
_______________________________________________________________________*/
h1, h2, h3, h4, h5, h6 { color: #a54647; font-family: 'BorgiaPro-Regular', Georgia, serif; text-rendering: optimizelegibility; }
#page-wrapper h1 a, #page-wrapper h2 a, #page-wrapper h3 a, #page-wrapper h4 a, #page-wrapper h5 a, #page-wrapper h6 a { color: #a54647; font-family: 'BorgiaPro-Regular', Georgia, serif; font-style: normal; text-decoration: none; }
#page-wrapper h1 em, #page-wrapper h2 em, #page-wrapper h3 em, #page-wrapper h4 em, #page-wrapper h5 em, #page-wrapper h6 em { font-family: 'BorgiaPro-Italic', Georgia, serif; }
h1#page-title { border-bottom: 1px solid #eeeeee; padding-bottom: 20px; }
/* 5. Lists
_______________________________________________________________________

/* 6. Tables
_______________________________________________________________________*/
table th { font-weight: 600; font-size: 0.9em; }
table td { border: inherit; }
table .meta-data-item { font-size: 0.8em; }
table .meta-data-item span { display: block; }
.pg-no { text-align: center }
.pg-img { min-width: 80px; text-align: center; }
.pg-img img { }
.pg-details { }
.pg-meta-status { }
.pg-trans-status { }
.status-metadata span, .status-transcription span { display: inline-block !important; font-size: 14px; }
table [class^="badge-"] .fa-circle { display: none; }
table .badge-red .fa-circle.active { color: #C00; display: block; }
table .badge-yellow .fa-circle.active { color: #FC0; display: block; }
table .badge-green .fa-circle.active { color: #390; display: block }
table.noborder td, table.noborder th, table.noborder tr { border: none; }
.node-page .table-condensed { line-height: 150%; }
.node-page .table-striped>tbody>tr:nth-child(odd)>td, .node-page .table-striped>tbody>tr:nth-child(odd)>th { background-color: #f2dede; border-color: #eed3d7; }
table.no-border tbody>tr>td { border: 0; padding: 0; }
/* 7. Header
_______________________________________________________________________*/
#header { padding-top: 15px; padding-bottom: 0px; background: #f9f9f9; }
#header #logo { float: none; text-align: center; text-shadow: none; background-color: transparent; border: 0; margin: 0px auto; padding: 5px 0; }
.not-front #header #logo a img { max-height: 110px; }
.gen-editors { text-align: center; font-weight: 200; font-family: "BorgiaPro Regular", 'Georgia', serif; color: #959393; padding-top: 10px; font-size: 12px; }
.gen-editors span { font-style: italic; }
/* 8. Menu
_______________________________________________________________________*/
#main-menu { margin-bottom: 0px; background-color: #f9f9f9; border-top: 1px solid #EEEEEE; text-transform: uppercase; font-weight: 600; font-family: Arial, 'Liberation Sans', FreeSans, sans-serif; border-left: 0; border-right: 0; }
#shadow-bottom { background-image: url(../images/shadow-bottom-thin.png); background-repeat: no-repeat; background-position: center bottom; height: 18px; margin: 0; padding: 0 }
.menu-toggle { display: none; }
.navbar-nav { width: 100%; text-align: center; }
@media (min-width: 768px) { .navbar-nav > li { float: none; display: inline-block; } }
.navbar-nav a { color: #494949; }
.navbar-nav a.active { color: #a54647; }
.navbar-nav>li>a:focus, .navbar-nav>li>a:hover { color: #a54647; background-color: transparent; }
/* 9. Slideshow
_______________________________________________________________________*/
#carousel-home { margin-bottom: 25px; }
.carousel-indicators { bottom: -35px; }
.carousel-indicators li { width: 30px; height: 8px; border-radius: 2px; vertical-align: middle; }
.carousel-indicators .active { width: 30px; height: 8px; moz-box-shadow: 0px 1px 1px #787878; -webkit-box-shadow: 0px 1px 1px #787878; box-shadow: 0px 1px 1px #787878; border: 1px solid #680022; border-radius: 2px; }
.carousel-caption { left: 0; bottom: 0; right: inherit; padding: 15px 0 15px 40px; background: rgba(0, 0, 0, 0.2); width: 100%; text-align: left; text-transform: uppercase; }
/* 10. Content Area
_______________________________________________________________________*/
.node-type-sharedcanvas #content-main.container { width: 90%; }
.node-type-sharedcanvas #content-main.container .col-xs-12 { width: auto; }
.front #main-content .node img:hover { border-color: rgba(201, 89, 102, 0.8); outline: 0; outline: thin dotted 9; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(197, 45, 63, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(197, 45, 63, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(197, 45, 63, 0.6); }
#main-content .node-meta { margin-top: 24px; clear: both; }
#main-content .node-meta ul li { display: inline-block; padding: 0 6px 0 0; line-height: 20px; font-size: 12px; }
#main-content .node-meta ul.tips li { display: list-item; }
#main-content .node-meta .comments-count { margin-right: 12px; display: inline-block; }
#main-content .node-meta ul li.comment-comments { display: none; }
.node-meta .field-name-field-tags, .node-meta .field-label, .node-meta .field-items, .node-meta .field-item { display: inline-block; }
.node-meta .field-label { font-size: 12px; font-weight: normal; margin-left: 24px; }
.node-meta .field-item { margin-right: 6px; }
.main-content .accordion-toggle.collapsed:after { font-family: "Fontawesome"; content: "\f078"; font-style: normal !important; }
.main-content .accordion-toggle:after { font-family: "Fontawesome"; content: "\f077"; padding-left: 10px; font-size: 19px; color: #666; font-weight: normal; font-style: normal !important; }
.explore-work { text-transform:uppercase; font-size: 12px; color: #999; display:block; text-align: right; width: 90%; margin-top: 10px; }
.col-sm-6 .feat-item { background: #888; text-align: center; padding: 8px; width: 100%; }
.feat-item h4, #page-wrapper .feat-item h4 a {color: #f9f9f9}
/* 11. Footer
_______________________________________________________________________*/
#footer { padding-bottom: 20px; margin-top: 5em; }
.footer-top { margin-bottom: 12px; padding-top: 30px; border-top: 1px solid #c5beaa; }
.footer-bottom { font-size: 12px; text-align: center; line-height: 18px; }
.footer-bottom .disclaimer { font-size: 10px; font-style: italic; color: #666; display: block; margin-top:5px; margin-bottom:5px; }
#footer .credits { font-size: 11px; color: #6F6F6F; margin-top: 18px; text-shadow: 1px 1px #f3f3f3; }
#footer .credits a { color: #A39B82; }
#footer .credits a:hover { color: #122B2B; }
#footer .col-xs-3, #footer .col-xs-4, #footer .col-xs-2 { text-align: center; }
.footer-top img.footer-logo { margin-bottom: 40px; }
/* 12. Viewer
_______________________________________________________________________*/
.detail-view-results { width: 95%; margin: 0px auto; }
/* ___ Tools ____________________________________________________*/
.meta-data-view .meta-data-group .meta-label:after { content: ":" }
.meta-data-filter .meta-data-item, .meta-data-view .meta-data-item { font-weight: 300; line-height: normal; margin: 0; font-size: 0.9em; list-style: none; }
.meta-data-view .meta-data-item { margin-bottom: 0.25em }
label.meta-label { display: inline-block; font-weight: 600; margin-right: 5px; margin-bottom: 0; }
.detail-view-tools .meta-data-view .meta-data-item { text-indent: -0.25em; padding-left: 0.5em; }
/* ___ Status Block ____________________________________________________*/
.meta-data-view #status-block .meta-data-item { font-size: 0.8em; color: #999; font-weight: normal; }
#status-block label.meta-label { font-weight: 500; font-size: 1.1em !important; }
#status-block span[class*=badge-] { padding-right: 3px; }
#status-block .badge-red .fa-circle.active { color: #C00; }
#status-block .badge-yellow .fa-circle.active { color: #FC0; }
#status-block .badge-green .fa-circle.active { color: #390; }
/* ___ Controls ________________________________________________________*/
.detail-view-controls { margin-bottom: 30px; }
.detail-view-controls .well { margin-bottom: 0; border-radius: 0px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
.detail-view-controls .btn-sm { border: 1px solid #b8b8b8; background-color: #fbfbfb; }
.detail-view-controls .btn-toolbar { margin-right: 10px; }
.detail-view-controls #sequence-nav.btn-toolbar { margin-right: 0; }
.detail-view-controls .btn-toolbar .btn-sm, .detail-view-controls #search-form-block .btn-sm { padding: 7px 8px; line-height: 1;}
.detail-view-controls .btn-group + .btn-group { margin-left: 10px !important; }
.detail-view-controls a.btn { color: #a54647 !important; }
.detail-view-controls .input-group { max-width: 250px; margin-right: 10px; }
.detail-view-controls .form-inline { font-size: 0.8em; }
#search-form-block input[type="text"] { font-size: 0.8em !important; }
#search-form-block a[aria-expanded="true"] i { transform: rotate(180deg); }
ul.circle-yes li:before { background-color: #a54647; }
/* ___ Dropdown / Accordion ____________________________________________*/
.detail-view-controls .form-control + .input-group-btn .btn:first-child { border-left: 0; }
.detail-view-controls #collapseBar .well-sm { border-top: 0; background-color: #f5f5f5; min-width: 650px; line-height: normal; margin: 0; }
#main-content .meta-data-filter .well-sm label { display: inline-block; margin-bottom: 0; font-size: 0.8em; line-height: 12px; min-height: inherit; }
.meta-data-filter h3 { font-size: 1.2em; font-weight: normal; color: #a54647; margin: 0; padding: 0; margin-bottom: 0.75em; line-height: normal; }
.meta-data-filter h3 span { display: inline-block; padding-left: .25em; font-size: 0.8em; color: #444; text-transform: uppercase; }
.meta-data-filter .control-label { font-weight: 600; }
.meta-data-filter .control-label span { padding: 0 5px; font-weight: 600; }
.meta-data-filter .control-group:last-child { margin-bottom: 0; }
.meta-data-filter .checkbox-inline { padding-left: 5px; }
.meta-data-filter .checkbox-inline input[type="checkbox"] { margin-left: 0; margin-top: 1px; margin-right: 3px; }
@media (max-width: 768px) {
.meta-data-filter .control-group { margin-bottom: 5px; }
}
/* ___ Limit View ____________________________________________________*/
#limit-view-controls { max-height: 30px; margin-top: -2px; line-height: 1; }
#limit-view-controls .control-label { text-transform: uppercase; color: #a54647; font-weight: normal; font-size: 0.75em; }
#limit-view-controls .radio-inline { font-size: 0.75em; font-weight: normal; line-height: 14px; padding-left: 0; }
#limit-view-controls .radio-inline input[type="radio"] { margin-left: 0; margin-right: 3px; }
/*Results*/
	/* ___ Slider Bar __________________________________________________*/
.page-location-bar { float: right; width: .5em; margin-right: -1.2em; padding-top: 4.880597014925373px; background: #FFFFFF; border: 1px solid #333333; }
#page-location { width: 100%; }
#page-location .ui-widget-header { background: none; }
.ui-corner-all { border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-top-right-radius: 0; border-top-left-radius: 0; }
.ui-widget-content { border: 0; background: transparent; }
#page-location .res { background-color: transparent; border-bottom: 1px solid #fff; border-top: 2px solid #a54647; }
#page-location .ui-slider-handle { opacity: 0.9; left: 12px; border: none; font-size: 10px; color: #494949; background: transparent; text-decoration: none; padding: 2px 5px 0px 2px; line-height: 18px; height: 2.2em; }
#page-location .ui-slider-handle:before { font-family: "Fontawesome"; content: "\f0d9"; color: #999999; font-size: 16px; display: inline; position: relative; left: -7px; top: 2px; line-height: 18px; }
#page-location .ui-slider-handle.ui-state-hover, .ui-slider-handle.ui-state-active { opacity: 1; }
/*Meta */
.detail-view-meta .row:first-child { padding-top: 1.25em; }
.detail-view-meta h3 { font-size: 1.2em; margin-top: 0; }
.detail-view-meta h4 { font-size: 0.95em; text-transform: uppercase; margin: 1.2em 0 .3em 0; color: #414042; font-family: 'Open Sans', Arial, 'Liberation Sans', FreeSans, sans-serif; font-weight: 600; }
.detail-view-meta .page-citation, .detail-view-meta .work-citation { color: #414042; font-weight: 300; font-size:12px;}
/* 13. Search Results
_______________________________________________________________________*/
#search-bar .btn { background: #a54647; border-color: #a54647; }
#search-bar .btn i { color: #ffffff; }
#search-instructions { font-size: 0.9em; }
#search-instructions h4 { margin-bottom: 0.5em; }
@media (min-width: 768px) { #search-instructions h4 { margin-top: 0; } }
#usr-msg { display: none; border: none; font-size: larger; text-align: center; }
#usr-msg span { display: block; }
#usr-msg.error { background-image: none; }
#usr-msg.error span { background-color: #a54647; }
.r-header, .r-footer { line-height: 2em; font-size: 1em; color: #a54647; }
.r-header { margin-top: 2em; margin-bottom: 1em; }
.r-header .r-results-header { background: #ececec; margin-right: 15px; width: 100%; }
.r-footer { margin-top: 1em; }
.results-refine-header { text-transform: uppercase; overflow: auto; margin-bottom:10px; background: #ececec; padding: 10px 15px; z-index: 1; }
.results-info-sort { height: 3.5em; background: #ececec; padding: 10px 15px; z-index: 1; }
.results-info-sort .pull-left { margin-right: 15px; }
.results-info-sort .pagination { margin: 0; }
.results-info-sort .pagination > li > a { background-color: #f9f9f9; border-color: #d8d8d8; }
.results-info-sort .pagination > li > a:hover, .results-info-sort .pagination > li > a:focus, .results-info-sort .pagination > .active > a, .results-info-sort .pagination > .active > span { background-color: #e9e9e9; }
.results-info-sort .pagination > li > a.disabled { pointer-events: none; cursor: default; opacity: .65; filter: alpha(opacity=65); -webkit-box-shadow: none; box-shadow: none; }
.results-info-sort .pagination > li > a.dots { pointer-events: none; cursor: default; border: 0; background: transparent; padding-left: 6px; padding-right: 6px; }
.results-info-sort .pagination > li > a.pg { color: #f9f9f9 !important; background-color: #a54647; border-color: #a54647; }
.results-info-sort .pagination a.nav-first, .results-info-sort .pagination a.nav-last, .results-info-sort .pagination a.nav-prev, .results-info-sort .pagination a.nav-next { padding: 5px 8px; }
.r-qty .badge { vertical-align: baseline !important; }
.r-nav .btn-small { padding: 0px 6px; line-height: 1; }
.r-sorting label { text-transform: uppercase; font-weight: normal; float: left; padding-right: 5px; }
.r-sorting select { -webkit-appearance: none; border: 1px solid #d8d8d8; border-radius: 0px; background: #f9f9f9; }
.r-sorting .form-control { font-size: inherit; padding: 3px 7px; vertical-align: baseline; padding-right: 21px; z-index: 2; }
.r-sorting .input-group { float: left; }
.r-sorting .input-group-addon { font-size: inherit; padding: 3px 7px; background: none; position: relative; right: 21px; width: 0px; border: 0; z-index: 3; pointer-events: none; }
.refine-results .panel { border-color: #d8d8d8; background-color: #fefefe; border-style: dotted; }
.refine-results .panel-heading, .refine-results .panel-footer { color: #454545; background: none; border: 0; line-height: 1; font-weight: 600; }
.refine-results .panel-heading { margin-bottom: 0px; }
.refine-results .panel-footer { margin-top: 0px; font-size: 0.85em; }
.refine-results .list-group { margin-bottom: 0; }
.refine-results .list-group-item { padding: 3px 15px 3px; border: 0; border-color: transparent; background: transparent; font-size: 0.85em; }
.refine-results .list-group div:last-child .list-group-item { padding-bottom: 15px; }
.refine-results .list-group-item .label { margin-right: 5px; }
.refine-results .list-group-item.active .label { display: inline; }
.refine-results a.list-group-item.active { background-color: transparent; border-color: transparent; }
.refine-results a.list-group-item.active > .badge { background-color: #999; color: #FFF; }
.results-grid .panel { border-color: #d8d8d8; background-color: #fefefe; border-style: dotted; }
.results-grid .list-group { border-radius: 0px; border: none; }
.results-grid .list-group div .list-group-item { font-size: 0.9em; margin-top: 0; border: 0; border-top: 1px dotted #d8d8d8; }
.results-grid .list-group div:first-child .list-group-item { border-top: 0px; }
.results-grid .list-group-item .label { float: left; margin-right: 12px; }
.r-title { font-style: italic; }
.r-nbook:before, .r-author:before { content: ', '; }
.r-editor:before { content: '; '; }
.r-date:before, .r-folio:before { content: ' '; }
.r-summary { margin-top: 5px; }
.r-summary em { background: #fcf8e3; font-style: normal; }
/* 14. Explore Page
_______________________________________________________________________*/
.explore-group ul { padding: 0; margin: 0; list-style-type: none; }
.explore-group ul li { padding: 0; margin: 0; }
.explore-group ul li a { padding: 8px 10px; display: block; margin-bottom: 10px; border: 1px solid #D4D4D4 }
.explore-group ul li a:hover { background-color: rgba(177,177,177,0.2); }
.explore-group i { vertical-align: middle; display: inline-block; width: 35px; }
/* 15. Works / Manuscripts Pages
_______________________________________________________________________*/
#ranges_wrapper { border-top: 1px dashed #C7C7C7; margin-top: 30px; padding-top: 30px; }
.view { margin-bottom: 15px; -webkit-backface-visibility: hidden; }
h3.group-title { font-size: 24px; line-height: 24px; }
h4.group-title { margin: 0 0 5px 0; }
.view .img-thumbnail { width: 100%; }
.view .mask { opacity: 0; background-color: rgba(255,255,255, 0.7); transition: all 0.4s ease-in-out; position: absolute; overflow: hidden; bottom: 0; left: 15px; right: 15px; text-align: center; pointer-events: none; }
.view h6 { opacity: 0; transition: all 0.2s ease-in-out; text-transform: uppercase; position: relative; font-size: 14px; padding: 0; margin: 5px 0; color: #494949; }
.view p { opacity: 0; transition: all 0.2s ease-in-out; padding: 0px; }
.view:hover .mask { opacity: 1; }
.view:hover h6, .view:hover p { opacity: 1; }
.pg-s .red { color: #C00; }
.pg-s .yel { color: #FC0; }
.pg-s .grn { color: #390; }
.pg-s .fa-circle { width: 1.1428571428571428em; padding: 0 0.2857142857142857em; }
.group-wk, .group-nb, .group-ms { border-width: 0; background: transparent; -webkit-box-shadow: none; box-shadow: none; }
.group-wk h3.group-title, .group-ms h3.group-title, .group-wk h4.group-title { display:block; clear:both; }
.group-wk h3.group-title a, .group-ms h3.group-title a { display: block; margin: 0; padding: 8px 0 8px 12px; background-color: #f3f3f3; border-left: 2px solid #C6C6C6; line-height: 25px; }
.group-wk h4.group-title a { display: block; border-bottom: 1px dashed #ddd; margin-bottom: 5px; padding-bottom: 3px; }
.group-wk a[role="button"] i { font-size: 14px; border-left: #A8A8A8 1px dotted; border-radius: 0; padding: 9px 12px; margin-top: -8px; }
.group-wk h4.group-title a[role="button"] i { font-size: 12px; line-height: 9px; border-left: 0; }
.group-wk .group-title a[aria-expanded="true"] i { transform: rotate(180deg); border-left: 0; border-right: #a8a8a8 1px dotted; }
.progress { height: 10px; width: 90px; margin-bottom: 0; vertical-align: middle; display: inline-block; }

.sources-table { width: 100%; margin-left: auto; margin-right: auto; margin-bottom:0; background: white; padding: 0.5em; }
.sources-table div { text-align: left; }
.sources-table span { display: inline-block; padding-left: 0.5em; }
.sources-table .sources-header { text-align: left; background-color: #e6e6e6; }
.sources-table .sources-label { background-color: White; position: relative; z-index: 10; }
.sources-table .sources-header .sources-label { background-color: #e6e6e6; position: relative; z-index: 10; }
.sources-table hr { margin: 0px; bottom: .6em; border: 1px solid black; position: relative; z-index: 1; }
.sources-table tfoot { display:none; }
@media (max-width:660px) { .sources-table { font-size: 80%; } }
@media (max-width:540px) { .sources-table { font-size: 60%; } }
/* 16. About Page & Intro Pages
_______________________________________________________________________*/
.group-contributors .row { line-height: 20px !important; }
.group-contributors .row [class^="fa-"], .group-contributors .row [class*=" fa-"] { background-position: left top; background-repeat: no-repeat; }
ul.img-list { list-style: none; padding-left: 0; list-style-position: outside; margin-bottom: 1em; }
ul.img-list li { padding-left: 25px; display: block; line-height: 20px; margin-bottom: 3px; }
ul.img-list li[class*=icon-] { background-repeat: no-repeat; }
.icon-bl { background-image: url(../images/icon-bl.png); }
.icon-bln { background-image: url(../images/icon-bln.png); }
.icon-mith { background-image: url(../images/icon-mith.png); }
.icon-nypl { background-image: url(../images/icon-nypl.png); }
.icon-htn { background-image: url(../images/icon-htn.png); }
.icon-hcl { background-image: url(../images/icon-hcl.png); }
.icon-bb { background-image: url(../images/icon-bb.png); }
.icon-pcs { background-image: url(../images/icon-pcs.png); }
.icon-cuny { background-image: url(../images/icon-cuny.png); }
.icon-qm { background-image: url(../images/icon-qm.png); }
.icon-umd { background-image: url(../images/icon-umd.png); }
.group-body { padding-bottom: 1em; margin-bottom: 1em; border-bottom: 1px solid #d8d8d8; }
.group-body .group-body { border-bottom-style: dashed; }
.group-heading .btn.accordion-toggle { margin-top: 0.5em; }
#page-wrapper .node-page p, #page-wrapper .node-works p { line-height: 175%; }
.indented { padding-left: 30px; }
#page-wrapper #intro0 .indented { line-height: 125%; }
#intro1 table, #intro1 table span { background-color: #f7f7f8; }
.nav#toc li a { border: 1px solid #a54647; margin-bottom:20px; margin-right:10px; }
.intro-subgp { margin-left: 30px; }
.intro-title a {display: block;
    margin: 0;
    padding: 8px 0 8px 12px;
    background-color: #f3f3f3;
    border-left: 2px solid #C6C6C6;
    line-height: 25px;
}
.intro-title a i { line-height: 30px; margin-top: -9px; }
.intro-title a[aria-expanded="true"] i { transform: rotate(180deg); }
h2 i.fa-paragraph { font-size: 70%; }

/* 17. Responsive
_______________________________________________________________________*/
@media (max-width: 980px) {
#view-controls, #search-form-block { margin-bottom: 10px; }
}

@media (min-width: 760px) and (max-width: 980px) {
.detail-view-tools .detail-view-meta { width: 700px; margin: 0 auto; }
}

@media (max-width: 528px) {
#sequence-nav.pull-right { margin-bottom: 10px; float: left; }
}
