ul.canvas {
  list-style: none;
  indent: 0;
  margin: 0;
  padding: 0;
  border: 1px solid #333;
  min-height: 4em;
  overflow: auto;
}
ul.canvas li {
  /* border: 1px solid #eee;
  padding: 1px;
  padding-left: 3px;
  margin: 1px; */
  position: relative;
}
ul.canvas li:hover {
  /* border: 1px solid #ccc;
  background-color: #eee;
  opacity: 1.0; */
}

