html, body {
  /* background-color: #eeeeee; */
  /* background: url(../images/dispersion1280.jpg) fixed; */
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content {
  color: #111111;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 13pt;
}

form .label {
  /* background-color: #ffffff; */
}

span.error_message {
  float: right;
  color: #111111;
  font-weight: bold;
  margin: 1em;
}

div.error {
  font-weight: bold;
  /* border: 1px solid #ff8888; */
  /* background-color: #ffeeee; */
}

div.editor {
  position: relative;
  height: 350px;
}

.width1, .width2, .width3, .width4, .width5, .width6, .fullwidth {
  border-left: 3px;
  border-right: 3px;
  margin-left: 7px;
  margin-right: 7px;
}

.height1, .height2, .height3, .height4, .height5, .height6 {
  border-top: 3px;
  border-bottom: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.tile {
  padding: 0px;
  overflow: hidden;
  opacity: 0.8;
}

.tile p {
  color: #ffffff;
  padding: 2px;
}

.tile:hover {
  border-color: #aaaaaa;
}

.tile h1 {
  color: #eee;
  font-family: serif;
  margin-left: 6pt;
  margin-top: -1pt;
  font-weight: 400;
  color: #eee;
  letter-spacing: 0.01em;
  font-size: 20pt;
}

.tile.primary h1 {
  margin-top: 6pt;
  font-weight: 200;
  font-size: 42pt;
}

.tile {
  min-height: 140px;
  background-color: #2c2c2c;
  border: 3px solid #2c2c2c;
  color: #999;
  float: left;
}

.tile:hover {
  background-color: #3c3c3c;
  border: 3px solid #3c3c3c;
  color: #999;
}

.tile.primary {
  height: 300px;
  background-color: #000099;
  border: 3px solid #000099;
  margin-bottom: 0px;
}

.tile.primary:hover {
  border: 3px solid #0000cc;
  background-color: #0000cc;
}

.tile.danger {
  background-color: #990000;
  border: 3px solid #990000;
}

.tile.danger:hover {
  background-color: #bb0000;
  border: 3px solid #bb0000;
}

.tile.welcome {
  background-color: #008800;
  border: 3px solid #008800;
}

.tile.welcome:hover {
  background-color: #00aa00;
  border: 3px solid #00aa00;
}

.tile .badge {
  position: relative;
  background: transparent;
  float: right;
  top: 110px;
  color: #aaa;
  font-size: 40px;
}

.tile.width4 .badge, .tile.width5 .badge, .tile.width6 .badge, .tile.fullwidth .badge {
  top: 250px;
  color: #ddd;
  font-size: 84px;
}

.width1 { width: 60px; }
.width2 { width: 140px; }
.width3 { width: 220px; }
.width4 { width: 300px; }
.width5 { width: 380px; }
.width6 { width: 460px; }
.fullwidth { width: 100%; }

.height1 { height: 60px; }
.height2 { height: 140px; }
.height3 { height: 220px; }
.height4 { height: 300px; }
.height5 { height: 380px; }
.height6 { height: 460px; }

p.type {
  opacity: 0.5;
  font-style: italic;
  font-size: 10pt;
}

.breadcrumb {
  background: rgba(255,255,255,0.2);
  min-height: 18px;
  //border: 2px solid #33B5E5;
  border-top: none;
}

.navbar-fixed-bottom .navbar-inner {
  border-bottom: none;
  //border-top: 2px solid #33B5E5;
}

.tile.text {
  min-height: 0px;
  height: auto;
  background: transparent;
  border: transparent;
}

.canvas {
}
