<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="page-wrapper" class="{% if page.front != true %} not-front {% endif %}">

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

    </div>

  <script type="text/javascript">

  var collapseNearest = function (el) {
    var $el = $(el);
    var dest = $el.find("a[data-toggle=collapse]");
    if (!dest.get(0)) {
      if ($el.parent()){
        collapseNearest($el.parent());
      }
      else return null;
    }
    else {
      console.log(dest.hasClass("special"));
      if (dest.attr("role") == "button") {
        var d = $(dest.attr("data-target"));
      }
      else {
        var d = $(dest.attr("href"));
      }
      
      d.collapse("show");
      d.next('a.read-toggle').text('Read Less');
    }
  }

	if(window.location.hash) {
    collapseNearest(window.location.hash);
	}
	
	(function($){
	$('a.read-toggle').click(function(){
	   me = $(this);
	   href = me.attr('href');
	
	   if (!$(href).hasClass('in')) {
		  me.text('Read Less');
	   }     else { me.text('Read More'); }
	});
	})(jQuery);
	</script>

  </body>

</html>
