---
layout: component
extra_css:
  - /css/SGAviewer.css
---
<script type="text/javascript" src="/js/openseadragon.min.js"></script>
<div id="content">
  <div id="content-main" class="container-fluid clearfix">
    <div id="main-content">
      <div class="container">
        <div class="row">
          <h1 class="title col-sm-12" id="page-title">{{page.title}}</h1>
        </div>
      </div>
      <div class="content">
        <div class="node node-type-sharedcanvas">
          <div class="container">
            <div class="row">
              <div class="detail-view-tools col-sm-12" id="SGASharedCanvasViewer" data-manifest="{{page.manifest}}">
                <form name="sgaDetails" id="sgaForm" class="form-inline">
                  <fieldset class="meta-data-view">
                    <div class="noborder control-group row"> <span id="SGAManifestMeta"> </span> <span id="SGACanvasMeta"> </span> </div>
                  </fieldset>
                  <fieldset class="detail-view-controls row">
                    <div class="col-xs-12">
                        <div class="well well-sm clearfix">
                          <div class="btn-toolbar pull-left" id="view-controls">
                            {% unless page.imageOnly%}
                            <div class="btn-group" id="img-controls">
                            <a class="btn btn-sm" title="Reset Zoom" id="zoom-reset"><i class="fa fa-search fa-flip-horizontal"></i></a>
                            <a class="btn btn-sm" title="Zoom In" id="zoom-in"><i class="fa fa-search-plus fa-flip-horizontal"></i></a>
                            <a class="btn btn-sm" title="Zoom Out" id="zoom-out"><i class="fa fa-search-minus fa-flip-horizontal"></i></a>
                            <a class="btn btn-sm" title="Rotate Left" id="rotate-l"><i class="fa fa-rotate-left"></i></a>
                            <a class="btn btn-sm" title="Rotate Right" id="rotate-r"><i class="fa fa-rotate-right"></i></a>
                            </div>
                            {% endunless %}
                            <div class="btn-group" id="mode-controls" data-toggle="buttons"> 
                              {% unless page.imageOnly%}
                              <a class="btn btn-sm" title="View Image Only" id="img-only">
                                <input type="radio" name="options">
                                <i class="fa fa-picture-o"></i>
                              </a>
                              {% endunless %}
                              <a class="btn btn-sm active" title="Standard View" id="mode-std">
                                <input type="radio" name="options">
                                <i class="fa fa-pause"></i>
                              </a>
                              {% unless page.noReading %}
                              <a class="btn btn-sm" title="View Reading Text" id="mode-rdg">
                                <input type="radio" name="options">
                                <i class="fa fa-align-left"></i>
                              </a>
                              {% endunless %}
                              <a class="btn btn-sm" title="View TEI" id="mode-xml">
                                <input type="radio" name="options">
                                <i class="fa fa-code"></i>
                              </a>
                            </div>
                          </div>
                          <!-- /view-controls -->

                          <div class="pull-left" id="search-form-block">
                              <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Search" id="searchbox" />
                                <div class="input-group-btn">
                                    <a type="button" class="btn btn-sm btn-default" tabindex="-1" id="searchbtn"><i class="fa fa-search"></i></a>
                                    <a role="button" data-toggle="collapse" href="#collapseBar" aria-expanded="false" aria-controls="collapseBar" class="btn btn-sm btn-default" tabindex="-1" data-parent="accordion-parent" title="Show Search Filter"><i class="fa fa-chevron-down"></i></a>
                                </div>
                              </div>
                          </div>
                          <!-- /search-form-block -->

                          <div class="btn-toolbar pull-right" id="sequence-nav">
                            <div class="btn-group" id="pager-controls"><a class="btn btn-sm" id="first-page"><i class="fa fa-step-backward"></i></a><a class="btn btn-sm" id="prev-page"><i class="fa fa-chevron-left" ></i></a><a class="btn btn-sm" id="next-page"><i class="fa fa-chevron-right"></i></a><a class="btn btn-sm" id="last-page"><i class="fa fa-step-forward"></i></a></div>
                          </div>
                          <!-- /sequence-nav -->

                          {% if page.limit_view != "none" %}
                          <div class="pull-left" id="limit-view-controls">
                            <div class="control-group">
                              <div class="control-label">Limit View:</div>
                              {% if page.limit_view == "work" %}
                              <label class="radio-inline">
                                <input type="radio" name="work-view" value="work-{{page.limit_class}}" id="hand-view_1" checked="checked" />
                                Work only</label>
                              <label class="radio-inline">
                                <input type="radio" name="work-view" value="default" id="hand-view_0" />
                                All text</label>
                              {% endif %}

                              {% if page.limit_view == "hands" %}
                              <label class="radio-inline">
                                <input type="radio" name="hand-view" value="default" id="hand-view_0" checked="checked" />
                                All</label>
                              <label class="radio-inline">
                                <input type="radio" name="hand-view" value="hand-mws" id="hand-view_1" />
                                Mary Shelley</label>
                              <label class="radio-inline">
                                <input type="radio" name="hand-view" value="hand-pbs" id="hand-view_2" />
                                Percy Shelley</label>
                              {% endif %} </div>
                          </div>
                          <!--/hand-view-controls-->
                          {% endif %} </div>
                        <!-- /well -->
                        <div id="collapseBar" class="collapse meta-data-filter">
                          <div class="well well-sm clearfix">
                            <div class="controls meta-data-group" id="limit-search">
                              <h3>Limit Search <span>Only Show Terms Found In:</span></h3>
                              <div class="row">
                                  <div class="control-group col-md-5 col-sm-6">
                                    <label class="control-label">Text Type(s) <span>|</span></label>
                                    <label class="checkbox checkbox-inline meta-data-item">
                                      <input type="checkbox" id="inlineCheckbox1" value="added">added passages</label>
                                    <label class="checkbox checkbox-inline meta-data-item">
                                      <input type="checkbox" id="inlineCheckbox2" value="deleted">deleted passages</label>
                                  </div>
                                  {% if page.limit_view == "hands" %}
                                  <div class="control-group col-md-5 col-sm-6">
                                    <label class="control-label">Hand(s) <span>|</span></label>
                                    <label class="checkbox checkbox-inline meta-data-item">
                                      <input type="checkbox" id="inlineCheckbox1" value="hand_msw">
                                      Mary Shelley</label>
                                    <label class="checkbox checkbox-inline meta-data-item">
                                      <input type="checkbox" id="inlineCheckbox2" value="hand_pbs">
                                      Percy Bysshe Shelley</label>
                                    {% endif %} </div>
                            	</div>
                                </div>
                          </div>
                          <!-- /well-->
                        </div>
                        <!-- /collapseBar -->
                    </div>
                  </fieldset>
                  <!-- /detail-view-controls control-group -->
                </form>
              </div>
            </div>
          </div>
          <!-- /detail-view-tools -->

          <div class="detail-view-results row">
            <div class="shadow-top"></div>
            <div class="col-sm-12">
              <div class="loader" id="loading-progress"><i class="fa fa-spinner fa-spin fa fa-3x"></i></div>
              <div id="mainSharedCanvas"> </div>
              <div class="page-location-bar">
                <div id="page-location"></div>
              </div>
            </div>
          </div>
          <!-- /detail-view-results -->

          <div class="container">
            <div class="detail-view-meta row">
              <div class="col-sm-12">
<div class="well well-sm meta-data-item">
                  <h3 class="meta-title">Citation</h3>
                  <h4 class="cite-page"><i class="fa fa-desktop fa-fixed-width"></i> Cite This Page</h4>
                  <div class="page-citation"> <span id="cite-manifest"></span> <span id="cite-canvas"></span> </div>
                  {% if page.classroom %}
                  <h3 class="meta-title" style="margin-top:2em">Credits</h3>
                  <div class="page-citation">Encoding produced as classroom work by <a href="/about/#{{page.classroom}}">{{page.classroom}}</a></div>
                  {% endif %}
                </div>
              </div>
            </div>
            <!-- /detail-view-meta -->
          </div>
        </div>
    </div>
  </div>
</div>
<script type="text/template" id="canvas-tpl">
    <div>
      <div class="sharedcanvas" data-types="Image"></div>
    </div>
    <div>
      <div class="sharedcanvas" data-types="Text"></div>
      <div id="ModeLayers"></div>
    </div>
  </script>
<script type="text/template" id="manifestMeta-tpl">
    <ul class="meta-data-group controls col-md-3 col-sm-6">
      <li class="meta-data-item">
        <label class="meta-label" id="meta-workAuthor">Author(s)&nbsp;</label><span><%=scagentLabel%></span></li>
      <li class="meta-data-item">
        <label class="meta-label" id="meta-workDate">Date Written&nbsp;</label><span><%=scdateLabel%></span></li>
      <li class="meta-data-item">
        <label class="meta-label" id="meta-workTitle">Title/Literary Work&nbsp;</label><span><%=dctitle%></span></li>
    </ul>
    <ul class="meta-data-group controls col-md-3 col-sm-6">
      <% if (sgastateLabel !== 'none') { %>
      <li class="meta-data-item">
        <label class="meta-label" id="meta-workState">State&nbsp;</label><span><%=sgastateLabel%></span></li>
      <% } %>
        <li class="meta-data-item">
        <label class="meta-label" id="meta-workInstitution">Institution&nbsp;</label><span><%=attribution%></span></li>
    </ul>
  </script>
<script type="text/template" id="canvasMeta-tpl">
    <ul class="meta-data-group controls col-md-3 col-sm-6">
      <li class="meta-data-item">
        <label class="meta-label" id="meta-workHands">Hand(s)&nbsp;</label><span><%=sgahandLabel%></span>
      </li>
      <li class="meta-data-item">
        <label class="meta-label" id="meta-workShelfmark">Shelfmark&nbsp;</label><span><%=sgashelfmarkLabel%></span>
      </li>
      <li class="meta-data-item">
        <label class="meta-label" id="meta-workFolio">Folio&nbsp;</label><span><%=label%></span>
      </li>
    </ul>
    <div class="meta-data-group col-md-3 col-sm-6 controls" id="status-block">
      <div class="well well-sm">
        <div class="meta-data-item circle-yes" id="status-transcription">
          <label class="meta-label">Transcription Status</label>
          <span class="badge-red"><i class="fa fa-circle <% if (trans=='red') { %>active<%}%>"></i></span>
          <span class="badge-yellow"><i class="fa fa-circle <% if (trans=='yellow') { %>active<%}%>"></i></span>
          <span class="badge-green"><i class="fa fa-circle <% if (trans=='green') { %>active<%}%>"></i></span></div>
        <div class="meta-data-item circle-yes" id="status-metadata">
          <label class="meta-label">Metadata Status</label>
          <span class="badge-red"><i class="fa fa-circle <% if (meta=='red') { %>active<%}%>"></i></span>
          <span class="badge-yellow"><i class="fa fa-circle <% if (meta=='yellow') { %>active<%}%>"></i></span>
          <span class="badge-green"><i class="fa fa-circle <% if (meta=='green') { %>active<%}%>"></i></span></div>
      </div>
    </div>
  </script>
<script type="text/template" id="citation-tpl">
    <%=author%> "<%=title%>", in <em>The Shelley-Godwin Archive</em>,
  </script>
<script type="text/template" id="citation_canvas-tpl">
    <%=page%>. Retrieved from <%=url%>
  </script>
<script type="text/javascript" src="/js/viewer_deps.js"></script>
<script type="text/javascript" src="/js/SGAviewer.js"></script>
<script type="text/javascript">
  (function ($) {
  'use strict';

    var manifestURL = $("#SGASharedCanvasViewer").data("manifest");

    var sc = new SGASharedCanvas.Application({
      "manifest":manifestURL,
      "searchService":"{{site.searchservice}}annotate?",
      {% if page.mode %}mode: {{page.mode}}{% endif %}});

  })(jQuery);
</script>

{% include ga.html %}
